<div  class="background-main-image">
  <img class="main-image center-content pointer" routerLink="/posts/petitions/"
       src="https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixlib=rb-0.3.5&s=a17b49bdd6ac820b85bc9ffe35955f3b&auto=format&fit=crop&w=1489&q=80" alt="home petition page">
<div>
  <mat-card class="pointer center-content" id="mat-title-petitions"  routerLink="/posts/petitions">
    <h2 class="card-tittle nopadding primary">Cuentanos tu historia</h2>
    <mat-card-content>
      <h4 class="primary-letter center" style="margin-right: 25px;">Ya seas una fundación o una persona necesitada escribele a los demas como podrían ayudarte.</h4>
    </mat-card-content>
  </mat-card>
</div>
  <div class="card-container" id="home-cards">    
  <div>
      <mat-card>
        <h2 class="card-tittle primary">Fondos para tu fundación</h2>
        <mat-card-content>
          <img  mat-card-image src="/assets/img/fundation.jpg" alt="Donacion comida">
          <p class="primary-letter">
            Por medio de <b>AYÚDALOS</b>, puedes pedir productos que necesitarás para donar, así ayudarás a esa población vulnerable que cobijas. Además puedes solicitar servicio de voluntariado para que personas te puedan ayudar en sus actividades caritativas.
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/petitions/">PEDIR</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <h2 class="card-tittle primary">Pide una ayuda y una mano amiga te ayudará</h2>
        <mat-card-content>
          <img  mat-card-image src="/assets/img/asking.jpg" alt="Donacion ropa">
          <p class="primary-letter">
           Sabemos que lo estás pasando mal, mediante una publicación puedes exponer tu caso y pedir eso que tanto necesitas, los demas podrán leer tu historia y ayudarte.
          </p>
        </mat-card-content>
        <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/petitions/">PEDIR</button>
      </mat-card>
    </div>
  </div>
<h1 class="header-section" style="margin:0px;">Historias destacadas</h1>
<div class="card-container" id="home-cards">    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Albert sonalo</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Juan Bermudez</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Anderson Parra</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Gabriel coronado</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
</div>
</div>
