mat-card#mat-title-petitions{
    width:calc(80% - 48px);
}

@media only screen and (max-width:700px){
  mat-card#mat-title-petitions{
    width:100%;
  }
}

.card-container > div{
  width:20em;
}

.background-main-image{
  overflow-x:hidden;
}

