<div  class="background-main-image">
  <img class="main-image center-content" src="https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixlib=rb-0.3.5&s=a17b49bdd6ac820b85bc9ffe35955f3b&auto=format&fit=crop&w=1489&q=80" alt="home petition page">
<div>
  <mat-card class="pointer center-content" id="mat-title-petitions"  routerLink="/posts/donations">
    <h2 class="card-tittle nopadding primary">Cuentanos tu historia</h2>
    <mat-card-content>
      <h4 class="primary-letter center">Y podremos ayudarte</h4>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container" id="home-cards">    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Albert sonalo</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Juan Bermudez</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Anderson Parra</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card class="nopadding">
        <h2 class="card-tittle background-primary nomargin">Gabriel coronado</h2>
        <mat-card-content style="padding:15px;">    
          <p class="primary-letter">
            Soy un joven de 19 que quiere estudiar en la universidad, lastimosamente despues de tantos intentos no he podido
               quedar, quiero estudiar en una universidad alguien puede ayudarme con eso?
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">Donar</button>
        </mat-card-content>
      </mat-card>
    </div>
</div>
</div>
