.half-width{
  display: inline-block;
  width: 50%;
}
.center-card {
  margin-bottom: 0 !important;
}

.big-tittle{
   margin-bottom: 10px;
   font-size: 1.6em;
   font-weight: bold;
}

.card-container {
   height: calc(100vh - 220px);
   overflow-y:scroll;
}

img.auto-center {
    max-height: calc(100vh - 400px);
}

mat-card.max-heigth.mat-card {
    max-height: calc( 100vh - 230px );
}

div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-panel-header  {
    height: 48px;
}


.profile-card{
   padding:20px;
}

@media only screen and (max-width: 900px) {
  
  .profile-card{
    padding:0px;
  }
  .center-content.mat-card-actions{
    margin-bottom:0px;
  }
}