.primary{
  color:#009688 !important;
}

.primary-letter{
  color:#004D40 !important;
}

.background-primary{
  background-color:#009688;
  color:white !important; 
}

.pink{
  color:#bf5f82;
}

.background-main-image {
  background-image: url(https://static.wixstatic.com/media/356d0cee84164a4cb8304d44630a7ea6.png/v1/fill/w_1920,h_1080,al_c,usm_0.66_1.00_0.01/356d0cee84164a4cb8304d44630a7ea6.png);
}

.background-pink{
  background-color: #f48fb1;
  padding: 25px;
  color:aliceblue;
}

.warning-text{
  color:red;
}

.primary{
  color:#009688 !important;
}
.white-text {
  color: #fff;
}
.grey-text{
  color:grey;
}

.google-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg');
  background-size: cover;
  margin:auto;
  
}

.fb-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg');
  background-size: cover;
  margin:auto;
}

.whatsapp-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/helpthem-60d1a.appspot.com/o/iconwhatsapp.svg?alt=media&token=00f8482f-a50c-4db7-aff8-89e98c8bc876');
  background-size: cover;
  margin:auto;
  
}

.twitter-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/helpthem-60d1a.appspot.com/o/icontwitter.svg?alt=media&token=93a7c50e-37da-4689-a2b4-3451795125d6');
  background-size: cover;
  margin:auto;
  
}




