# dependencies
node_modules/
/node_modules
/functions/node_modules
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/src/environments/
dist/

