<mat-card>
   <mat-card-header>
    <img *ngIf="user.photoURL" mat-card-avatar src="{{user.photoURL}}" alt="{{user.displayName}}">
    <img *ngIf="!user.photoURL"  mat-card-avatar src="https://visualpharm.com/assets/386/Female Profile-595b40b65ba036ed117d3de0.svg" alt="Photo of {{user.displayName}}">
    <mat-card-subtitle class="card-search" (click)="petitionService.showNav()">!Cuéntanos tu historia! Dinos cómo te podemos ayudar.</mat-card-subtitle>
    <span class="spacer"></span>
     <mat-icon aria-label="Home button" style="padding-top:5px;" class="pointer primary" (click)="toggleSearchState()">search</mat-icon>
    </mat-card-header>
</mat-card>

<app-search [@searchBarState]="stateSearchBar" [stateSearchBar]="stateSearchBar" [service]="petitionService"
            (updatePosts)="updatesBySearch($event)" (closeElement)="clearSearchForm()"></app-search>

<div class="scrollable" infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
  <div class="half-width" [class.half-width]="!isMobile">
    <app-petitions-card class="card-container" style="justify-content:flex-end;"  [petitions]="petitionsColumn1" [user]="user"></app-petitions-card>
  </div>
  <div class="half-width" *ngIf="!isMobile" [class.half-width]="!isMobile">
    <app-petitions-card class="card-container" style="justify-content:flex-start;"  [petitions]="petitionsColumn2" [user]="user"></app-petitions-card>
  </div>
</div>
 <div *ngIf="sendRequest">
  <mat-spinner class="center-content"></mat-spinner>
</div>
<app-petitions-post [user]="user" (uploaded)="refreshPetitions($event)"></app-petitions-post>
