<mat-card>
   <mat-card-header>
    <img *ngIf="user.photoURL" mat-card-avatar src="{{user.photoURL}}" alt="{{user.displayName}}">
    <img *ngIf="!user.photoURL"  mat-card-avatar src="https://visualpharm.com/assets/386/Female Profile-595b40b65ba036ed117d3de0.svg" alt="Photo of {{user.displayName}}">
    <mat-card-subtitle style="margin-top:10px; margin-left:5px; cursor:pointer;" (click)="petitionService.showNav()">Cuentanos tu historia, dejanos ayudarte!</mat-card-subtitle>
    <span class="spacer"></span>
     <mat-icon aria-label="Home button" style="padding-top:5px;" class="pointer" (click)="toggleSearchState()">search</mat-icon>
    </mat-card-header>
</mat-card>
<app-petitions-post [user]="user" (uploaded)="refreshPetitions($event)"></app-petitions-post>
