.mat-option {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    padding-left: 0;
    clear: both;
    color: rgba(0,0,0,0.87);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
}

.mat-select{
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 40%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.big-height{
  height: 400px;
}

.full-screen{
  margin-bottom:  20px;
  height: 90%;
}

div#mat-content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    /* Firefox */
    height: -moz-calc(90% - 40px);
    /* WebKit */
    height: -webkit-calc(90%- 40px);
    /* Opera */
    height: -o-calc(90% - 40px);
    /* Standard */
    height: calc(90% - 40px);
}

.petition-button {
    float: right;
}


div#div-petitionForm {
    flex: 1 1 auto;
    overflow: auto;
}

div#div-form-button {
  flex: 0 1 40px;
  /* fixes the footer: min-height: 60px; */
}

