<div *ngFor="let petition of petitions; let idx = index;" id="petition-card-container">
  <mat-card class="petition-card" id="petition-card">
    
    <div class="card-tittle primary nomargin flex">
      <img *ngIf="petition.user.photoURL" mat-card-avatar src="{{petition.user.photoURL}}"  matTooltip="{{petition.user.displayName}}" alt="{{petition.user.displayName}}" class="pointer" routerLink="/auth/profile/{{petition.user.uid}}">
      <img *ngIf="!petition.user.photoURL"  mat-card-avatar src="https://visualpharm.com/assets/386/Female Profile-595b40b65ba036ed117d3de0.svg" matTooltip="{{petition.user.displayName}}" alt="Photo of {{petition.user.displayName}}" class="pointer" routerLink="/auth/profile/{{petition.user.uid}}">
      <h2 class="card-tittle primary-dark nopadding" style="display:inline;">{{petition.tittle}} </h2>
      <span class="spacer"></span>
      <span class="date primary ">{{petition.createdAt | date:'mediumDate'}}</span>
      <mat-icon [matMenuTriggerFor]="menu"  class="dateover">more_vert</mat-icon>
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <!--<button mat-menu-item>Reportar</button>-->
        <button mat-menu-item (click)="openShareProcess(idx)">Compartir</button>
        <button mat-menu-item (click)="openDialog(idx)" *ngIf="petition.allowedDelete">Borrar</button>
     </mat-menu>
    </div>
    <img  *ngIf="petition.photoURL" mat-card-image src="{{petition.photoURL}}" alt="Donacion">
    <mat-card-content>
      <p class="primary-letter">{{petition.description}}</p>
      <div class="petition-progress-info" *ngIf="petition.goal">
        <div class="di-left">
          Raised: <span>{{petition.raised}}</span>
        </div>
        <div class="di-right">
          Goal: <span>{{petition.goal}}</span>
        </div>
      </div>
      <div class="petition-progress-bar" *ngIf="petition.goal" >
        <div class="pb-inner" [style.width.%]="(petition.raised/petition.goal )* 100 ">
          <span>{{petition.raised/petition.goal * 100 | number | slice:0:4 }}%</span>
        </div>
      </div>
      <button class="center-content" [style.top.px]="petition.goal ? 0 : 15" mat-raised-button color="primary">Aportar {{petition.categoryDonation?.category}}</button>
    </mat-card-content>
    <mat-accordion id="petition-card-comments">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="petitions[idx].commentPetitions == undefined">
          Comentarios
        </mat-panel-title>
        <mat-panel-title *ngIf="petitions[idx].commentPetitions">
          Comentarios ({{petitions[idx].commentPetitions.length}})
        </mat-panel-title>
        <!--<mat-panel-description>
          Type your name and age
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <mat-card-header *ngFor="let comment of petitions[idx].commentPetitions">
        <img *ngIf="comment.user.photoURL" mat-card-avatar src="{{comment.user.photoURL}}"
        alt="{{comment.user.displayName}}" routerLink="/auth/profile/{{comment.user.uid}}">
        <img *ngIf="!comment.user.photoURL"  mat-card-avatar src="https://visualpharm.com/assets/386/Female Profile-595b40b65ba036ed117d3de0.svg" alt="Photo of {{comment.displayName}}" routerLink="/auth/profile/{{comment.uid}}">
        <mat-card-title>{{comment.user.displayName}}</mat-card-title>
        <mat-card-subtitle>{{comment.description}}</mat-card-subtitle>
      </mat-card-header>
      <div>
        <img *ngIf="user.photoURL" mat-card-avatar id="userprofile-input" src="{{user.photoURL}}"
        alt="{{user.displayName}}">
        <img *ngIf="!user.photoURL"  mat-card-avatar id="userprofile-input" src="https://visualpharm.com/assets/386/Female Profile-595b40b65ba036ed117d3de0.svg" alt="Photo of {{user.displayName}}">
        <mat-form-field class="form-comment">
          <input matInput type="text" placeholder="Escribe un comentario" [(ngModel)]="petition.inputComment" class="full-width">
          <button mat-button *ngIf="petition.inputComment" matSuffix mat-icon-button aria-label="send" (click)="postComment(petition.inputComment, idx, petition.id)">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
