<div  class="background-main-image">
  <img class="main-image center-content pointer" routerLink="/posts/donations/"
       src="https://images.unsplash.com/photo-1525943887023-baee104c9e6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f94eb3d20fc36967d74640b2a82e138&auto=format&fit=crop&w=1131&q=80" alt="home donation page">
<div>
  <mat-card class="pointer center-content" id="mat-title-donations"  routerLink="/posts/donations">
    <h2 class="card-tittle nopadding primary">Quieres donar algo?</h2>
    <mat-card-content>
      <h4 class="primary-letter center">Aca te explicamos que puedes donar
      </h4>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container" id="home-cards">    
  <div>
      <mat-card>
        <h2 class="card-tittle primary">Dona comida</h2>
        <mat-card-content>
          <img  mat-card-image src="https://cdn20.patchcdn.com/users/22878510/20161102/120046/styles/T800x600/public/article_images/food_drive_shutterstock_193690586-1478102436-7013.jpg" alt="Donacion comida">
          <p class="primary-letter">
            <b>How many times have you waste food? A lot of times right.</b>
            Sometimes we bought more food than we can eat and we throw it in the garbage because this food expired in our fridge
            or fill our refrigerator. Sometimes the food which we bought didn't like its taste and we dispose of your food as rubbish.
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/donations/">Donar comida</button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <h2 class="card-tittle primary">Donar ropa</h2>
        <mat-card-content>
          <img  mat-card-image src="https://firebasestorage.googleapis.com/v0/b/helpthem-60d1a.appspot.com/o/Clothing-Donation-Photo.jpg?alt=media&token=6a66ddfd-477a-477d-93c0-6625f9ed0896" alt="Donacion ropa">
          <p class="primary-letter">
          Phasellus bibendum pharetra arcu ullamcorper sollicitudin. Donec tristique lobortis magna, vitae finibus orci laoreet sit amet. 
          </p>
        </mat-card-content>
        <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/donations/">Donar ropa</button>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <h2 class="card-tittle primary">Dona educacion</h2>
        <mat-card-content>
          <img  mat-card-image src="https://thumbs.dreamstime.com/b/pencil-case-school-supplies-calculator-pile-books-isolated-white-background-various-including-notebooks-pink-57559029.jpg" alt="Donacion utiles escolares">
          <p class="primary-letter">
            Sometimes we bought more food than we can eat and we throw it in the garbage because this food expired in our fridge
            or fill our refrigerator. Sometimes the food which we bought didn't like its taste and we dispose of your food as rubbish.
          </p>
        </mat-card-content>
        <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/donations/">Donate it</button>
      </mat-card>
    </div>
    
    <div>
      <mat-card>
        <h2 class="card-tittle primary">Dona cualquier cosa</h2>
        <mat-card-content>
          <img  mat-card-image src="https://saveculture.org/wp-content/uploads/2016/06/donate-image.jpg" alt="Helpthem photo">
          <p class="primary-letter">
            <b>How many times have you waste food? A lot of times right.</b>
            Sometimes we bought more food than we can eat and we throw it in the garbage because this food expired in our fridge
            or fill our refrigerator. Sometimes the food which we bought didn't like its taste and we dispose of your food as rubbish.
          </p>
        </mat-card-content>
        <button class="center-card-button full-width-important" mat-button color="primary" routerLink="/posts/donations/">Donate it</button>
      
      </mat-card>
    </div>
</div>
</div>
