<div class="center-card">
    <mat-card>
    <div class="cirlce-main-icon">
      <h2 class="mat-header">Ayudalos</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/helpthem-60d1a.appspot.com/o/icon2.svg?alt=media&token=a02ca8a8-9e75-4002-bd34-4c59fb2fcde9" class="login-icon" alt="iconlogo" id="main-icon">
    </div>
  <mat-card-content class="center-content">
      <form #emailForm="ngForm" [formGroup]="recoverFormGroup" (ngSubmit)="recoverYourAccount(recoverFormGroup)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" name="email"
                 id="emailForm-email">
          <mat-error *ngIf="recoverFormGroup.controls['email'].errors?.email && !recoverFormGroup.controls['email'].errors?.required">
            Por favor entra un email valido
          </mat-error>
          <mat-error *ngIf="recoverFormGroup.controls['email'].errors?.required">
             Tu email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <div *ngIf="!sendRequest" class="center-content">
           <p class="warning-text" *ngIf="wrongCredentials">Tu email no esta asociado con nostros, por favor registrate.</p>
           <p class="info-text" *ngIf="successSent">Hemos enviado un email a tu correo para resetear tu password</p>
          <div>
            <button mat-raised-button color="primary" type="submit" class="center-card-button">ENVIAR</button>   
          </div> 
        </div>
        <div *ngIf="sendRequest">
          <mat-spinner class="center-content"></mat-spinner>
        </div>    
      </form>
    </mat-card-content>
  </mat-card>
</div>

