/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3, h4{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card span.date{
  font-size: 0.8em;
}

.full-size{
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.header-section{
  text-align: start;
  padding-left: 50px;
  color:white;
  background-color: #00897B;
  padding:15px;
}

.half-width{
  display: inline-block;
  width: 50%;
}

.home-main-content {
  background-color: #26A69A;
  color: #fff;
  font:500 15px/32px Roboto, "Helvetica Neue", sans-serif;
  text-align:center;
  padding:1px 0 15px 0;
}

.center{
  text-align: center;
  justify-content: center;
}

.flex{
  display: flex;
}

.pointer:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fab-button{
    position: fixed !important; 
    bottom: 12px;
    right: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.body-content{
  min-height: 80vh;
}

.center-content{
  text-align: center;
  margin: auto;
  display: block;
}

.full-width {
  width: 100%;
}

.full-width-important{
  width:100% !important;
}

.flex{
  display:flex;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.main-image{
    max-width: 100%;
    width:80%;
    height: auto;
}

.nomargin{
  margin:0;
}

@media only screen and (max-width: 700px) {
  .main-image{
    max-width: 100%;
    width:100%;
    height: auto;
  }
}




