<div class="background-main-image">
  <div class="carousel">
    <div class="carousel-cell">
      <img src="/assets/img/logo.png" alt="1 image" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/img/carousel1.jpg" alt="2 image" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/img/carousel2.jpg" alt="3 image" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/img/carousel3.jpg" alt="4 image" />
    </div>
  </div>

  <div class="card-container" id="home-cards">
     <div routerLink="/aboutus">
      <mat-card>
        <h2 class="card-tittle nopadding primary">¿Quienes somos?</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/quienesomos.png" alt="iconlogo">
          <p class="primary-letter">
            Somos una Fundación sin ánimo de lucro, que busca brindar ayuda a aquellas poblaciones más desfavorecidas en Colombia, recaudando dinero, comida, ropa, productos de aseo, útiles escolares, y cualquier otro recurso de necesidad básica.
          </p>
            <button class="center-card-button full-width-important" mat-button color="primary">CONÓCENOS</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/posts/donations">
      <mat-card>
        <h2 class="card-tittle nopadding primary">Dona por una causa</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/donacualquiercosa.jpg" alt="Donaciones">
          <p class="primary-letter">
           Tenemos varios fondos de donaciones para los varios tipos de necesidades y poblaciones vulnerables, echa un vistazo y elige a que población quieres ayudar.
           </p>
          <button class="center-card-button full-width-important" mat-button color="primary">DONAR</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/posts/donations/home">
      <mat-card>
        <h2 class="card-tittle nopadding primary">Regala felicidad</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/charitysmile.webp" alt="Donaciones">
          <p class="primary-letter">
            Te has preguntado acaso, ¿Cómo se puede regalar felicidad? En esta página es posible, aportando tu granito de arena a aquellas personas que necesitan de tu ayuda, en la cual cualquier donación transforma vidas, ya sea por medio de fondos para que los niños puedan acceder a la educación, ropa, electrodomésticos, productos de canasta familiar, entre otros.
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">REGALAR FELICIDAD</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card routerLink="/posts/petitions/home">
        <h2 class="card-tittle nopadding primary">Pide una ayuda</h2>
        <mat-card-content>
          <img class="image-content center-content" src="assets/img/askhelp.JPG" alt="Donaciones">
          <p class="primary-letter">
            ¿Necesitas ayuda? Con solo un click puedes inscribirte a nuestro programa de peticiones para que puedas contarnos tu historia de vida y así nuestra comunidad pueda transformar la tuya. ¡Anímate!
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">PEDIR UNA AYUDA</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


