<div class="background-main-image">
  <div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="/assets/img/logo.png" style="width:100%;">
    <div class="text" style="color:black;"><button mat-raised-button class="button-carousel" color="primary" routerLink="/posts/donations">DONAR
      </button></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="/assets/img/carousel1.jpg" style="width:100%">
    <div class="text"><button mat-raised-button  color="primary" class="primary-letter button-carousel" style="background-color:white;" routerLink="/auth">UNETE
      </button></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="/assets/img/carousel2.jpg" style="width:100%">
    <div class="text"><button mat-raised-button color="primary" class="button-carousel" routerLink="/posts/petitions">PIDE
      </button></div>
  </div>
    
    <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="/assets/img/carousel3.jpg" style="width:100%">
    <div class="text"><button mat-raised-button color="primary" class="button-carousel" routerLink="/posts/petitions">DONA
      </button></div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span> 
    <span class="dot" (click)="currentSlide(2)"></span> 
    <span class="dot" (click)="currentSlide(3)"></span> 
    <span class="dot" (click)="currentSlide(4)"></span> 
  </div>


  <div class="card-container" id="home-cards">
     <div routerLink="/aboutus">
      <mat-card>
        <h2 class="card-tittle nopadding primary">¿Quiénes somos?</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/quienesomos.png" alt="iconlogo">
          <p class="primary-letter">
            Somos una Fundación sin ánimo de lucro, que brinda ayuda a aquellas poblaciones más desfavorecidas en Colombia, recaudando dinero, comida, ropa, productos de aseo, útiles escolares, y cualquier otro recurso de necesidad básica.
          </p>
            <button class="center-card-button full-width-important" mat-button color="primary">CONÓCENOS</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/posts/donations">
      <mat-card>
        <h2 class="card-tittle nopadding primary">Dona por una causa</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/donacualquiercosa.jpg" alt="Donaciones">
          <p class="primary-letter">
           Tenemos varios fondos de donaciones para todo tipos de necesidades y poblaciones vulnerables. Echa un vistazo y elige a que población quieres ayudar.
           </p>
          <button class="center-card-button full-width-important" mat-button color="primary">DONAR</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/posts/donations/home">
      <mat-card>
        <h2 class="card-tittle nopadding primary">Regala felicidad</h2>
        <mat-card-content>
          <img class="image-content center-content" src="/assets/img/charitysmile.webp" alt="Donaciones">
          <p class="primary-letter">
            Te has preguntado acaso, ¿Cómo se puede regalar felicidad? En esta página es posible, aportando tu granito de arena a aquellas personas que necesitan de tu ayuda, en la que cualquier caridad transforma vidas, ya sea por medio de donaciones de ropa, electrodomésticos, productos de canasta familiar, y fondos económicos para que los niños puedan acceder a la educación.
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">REGALAR FELICIDAD</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card routerLink="/posts/petitions/home">
        <h2 class="card-tittle nopadding primary">Pide una ayuda</h2>
        <mat-card-content>
          <img class="image-content center-content" src="assets/img/askhelp.JPG" alt="Donaciones">
          <p class="primary-letter">
            ¿Necesitas ayuda? Con solo un click puedes inscribirte a nuestro programa de peticiones para que puedas contarnos tu historia de vida y así nuestra comunidad pueda transformar la tuya. ¡Anímate!
          </p>
          <button class="center-card-button full-width-important" mat-button color="primary">PEDIR UNA AYUDA</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


