.topright {
  position: absolute;
  top: 0px;
  right: -14px;
  font-size: 1.1em;
  font-weight: bold;
}
.profile-link:hover{
}

.date{
  padding-top: 4px;
}

.dateover:hover{
  cursor:pointer;
}
/*
.post-card{
  min-height: 400px;
}
*/
@media only screen and (min-width: 350px) and (max-width: 400px){
  .form-comment{
    width: calc( 100% - 50px);
  }
}